.container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0fp 20fp;
}

.input {
  width: 70%;
  height: 60px;
  margin-bottom: 10px;
  background-color: cornflowerblue;
  padding-top: 10fp;
  padding-bottom: 10fp;
}
.delete {
  background-color: darkred;
}
.clear {
  background-color: mediumvioletred;
}
.get {
  background-color: green;
}
.title {
  width: 200px;
  font-size: 30px;
  text-align: center;
}
